---
import type { StoryblokRichTextJson } from '@storyblok/richtext/static';
import RichTextNode from './RichTextNode.astro';
import { type SBAstroComponentMap } from './utils';
export interface Props {
  document: StoryblokRichTextJson;
  components?: SBAstroComponentMap;
}

const { document, components } = Astro.props;

const nodes = document.type === 'doc' ? (document.content ?? []) : [document];
---

{
  nodes?.length ? (
    nodes.map((node) => <RichTextNode node={node} components={components} />)
  ) : (
    <p>Not a valid Richtext Data</p>
  )
}
