---
import RichtextRenderer from './astro/RichtextRenderer.astro';
import type { SBAstroRichTextComponentProps } from '../utils';

type Props = SBAstroRichTextComponentProps<'heading'>;
const { attrs, content, components } = Astro.props;
---

<div data-test={JSON.stringify(attrs)}>
  {content?.map((document) => <RichtextRenderer document={document} components={components} />)}
</div>
