---
import type { RichTextComponentProps } from '@storyblok/richtext/static';

type Props = RichTextComponentProps<'text'>;
const { attrs, content, components } = Astro.props;
---

<p>This is custom Text</p>
<pre>{
    JSON.stringify(Astro.props,null,2)
    }</pre>
