---
import type { RichTextComponentProps } from '@storyblok/richtext/static';
import RichtextRenderer from './astro/RichtextRenderer.astro';

type Props = RichTextComponentProps<'heading'>;
const { attrs, content, components } = Astro.props;
---

<div data-test={JSON.stringify(attrs)}>
  {content?.map((document) => <RichtextRenderer document={document} components={components} />)}
</div>
