---
import type { SBAstroRichTextComponentProps } from './astro/utils';

type Props = SBAstroRichTextComponentProps<'link'>;
const { attrs } = Astro.props;
---

<span data-test={JSON.stringify(attrs)}>
  <slot />
</span>
